

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.header{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    width: 100vw;
    height: 27vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.restaurant-name{
    font-size: 90px;
    font-family: 'Tangerine', cursive, 'Times New Roman', Times, serif;
    margin-top: 1.5rem;
}
.header-buttons{
    margin-top: 2rem;
    gap: 40px;
}
body{
    margin: 0;
    background-image: url(./images/foodiesfeed.com_hot-shakshuka-in-a-cast-iron-pan.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
    
}
.home, .menu, .contact{
    width: 6vw;
    height: 5vh;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s;
}
.home.activee, .menu.activee, .contact.activee{
    border-bottom: 2px solid white;
}
.home:hover, .menu:hover, .contact:hover{
    transform: translateY(-10%);
}
.lastDiv{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 3rem;
}
.introduction{
    width: 40vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s;
    margin-bottom: 7rem;
    margin-top: 5rem;
}
.text1, .text2{
    color: white;
    text-align: center;
    font-size: 25px;
}
.text1{
    margin-top: 2rem;
}
.text2{
    margin-top: 1rem;
}
.chef-img{
    width: 25vw;
    height: 40vh;
    border-radius: 50%;
    margin-top: 4rem;
    
}
.footer{
    background-color: black;
    opacity: 0.9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100vw;
    height: 7vh;
    font-size: 25px;
    font-weight: bold;
}
.github-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact-content{
    width: 40vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: fadeIn 1.5s;
    
}
.telephone, .address{
    display: flex;
    gap: 15px;
    margin-left: 40px;
}
.address-image{
    
    height: 40vh;
    margin: 40px;
    margin-top: 20px;

}
.grid{
    display: grid;
    width: 30rem;
    background-color: rgb(0, 0, 0, 0.6);
    grid-template-columns: 14rem 14rem;
    grid-auto-rows: 17rem;
    padding: 2rem;
    row-gap: 2rem;
    column-gap: 2rem;
    animation: fadeIn 1.5s;
}
.item{
    display: flex;
    color: white;
    font-size: 20px;
    background-color: black;
    opacity: 0.8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    
}
.item:hover{
    background-color: rgb(80, 73, 73);
    cursor: pointer;
}

.menu-img{
    width: 80px;
    height: 80px;
}
.item .text2{
    font-size: 13px;
    font-weight: lighter;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.9;
    }
  }